extends partials/head

block content
  .main-container.pa
    .center
      img(src="/assets/images/hacked.png", alt="404 image" style="width: 200px;")
      h1 404
      h3
        a(href="/") Return in safe place
